@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  background: linear-gradient(180deg, #1e293b 0%, #0f172a 100%);
  color: #f3f4f6;
}


@layer utilities {
	@keyframes loading {
		0% {
    		transform: translateX(-100%);
		}
		100% {
			transform: translateX(250%);
  			}
	}

	.animate-loading {
		animation: loading 0.8s ease infinite;
	}
}